nav .navbar-brand
{
    font-size: xx-large;
}

#cat-image-container
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#cat-image
{
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    display: none;
}

#no-image-msg 
{
    color: red; 
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #797979;
}

#fav-warning {
    display: none;
}

.carousel-img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators [data-bs-target] {
    filter: invert(1);
}